<div class="filters">
    <div class="filter" id="trendings">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter" id="pools">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
    </div>
    <div class="filter" id="beachfront">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
    </div>
    <div class="filter" id="cities">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Cities</p>
    </div>
    <div class="filter" id="mountains">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
    </div>
    <div class="filter" id="beds">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Beds</p>
    </div>
    <div class="filter" id="hotels">
        <div><i class="fa-solid fa-hotel"></i></div>
        <p>Hotels</p>
    </div>
    <div class="filter" id="mansions">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Mansions</p>
    </div>
    <div class="filter" id="treehouse">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tree House</p>
    </div>
    <div class="filter" id="boats">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
    </div>
    <div class="filter" id="domes">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
    </div>

    <div class="tax-switch">
        <div class="form-check-reverse form-switch ">
            <input class="form-check-input" type="checkbox" role="switch" id="taxSwitch">
            <label class="form-check-label" for="taxSwitch">See Taxes</label>
        </div>
    </div>
</div>