<footer>
    <div class="footer-container">
        <a class="footer-logo" href="/listings"><img src="https://res.cloudinary.com/dtytbp9oy/image/upload/v1745133332/Yes_Logo_white_sz3qwh.png" alt="CliffGo Logo" width="90"></a>
        <div class="social-icons">
            <!-- <a href="#" class="fb"><i class="fab fa-facebook"></i></a> -->
            <a href="https://www.instagram.com/radadiyadharmik_/" target="_blank" rel="noopener noreferrer" class="ig"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/dharmikradadiya018" target="_blank"  rel="noopener noreferrer" class="li"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/018DharmikRadadiya/SheSaidYes" target="_blank"  rel="noopener noreferrer" class="li"><i class="fa-brands fa-github"></i></a>
        </div>
        <p class="copyright">
            &copy; 2025 All Rights Reserved | Made with ❤️ by Dharmik 
        </p>
        <div class="footer-links">
            <a href="/listings/privacy">Privacy</a>
            <a href="/listings/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>

