<% layout("/layouts/boilerplate") %>
<div class="terms">
  <h1 class="terms-title"><b>Terms of Service</b></h1>
  <p class="terms-details">
    <b>She said yes</b> is a web application developed solely for academic and project
    demonstration purposes, designed to simulate the core features of Airbnb. It
    is not affiliated with Airbnb or any real-world hospitality service. By
    accessing or using <b>she said yes</b>, users agree to comply with the terms and
    conditions stated here. Users must register with accurate and up-to-date
    information, and are fully responsible for maintaining the confidentiality
    of their account credentials.
  </p>
  <p class="terms-details">
    It does not verify the authenticity of listings or guarantee the safety of 
    bookings. The developers of <b>she said yes</b> will not be held liable for any kind of 
    loss, injury, dispute, or legal issue arising out of interactions or 
    transactions on the platform. Since this platform is built for educational 
    purposes only, it is not intended for real-time bookings or monetary transactions.
  </p>
  <div class="ending-title">
    <b>She said yes</b> Project – Built for Project purposes only.
  </div>
</div>